<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".App"
        android:label="@string/app_name"
        android:theme="@style/Theme.BooxEnhance"
        tools:targetApi="31"
        tools:ignore="MissingApplicationIcon">

        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="系统功能增强" />
        <meta-data android:name="xposedminversion" android:value="82" />
        <meta-data android:name="xposedscope" android:resource="@array/xposed_scope" />

        <activity
            android:name="xyz.mufanc.boox.enhance.core.trigger.ColorInversionTrigger"
            android:label="@string/trigger_name_toggle_color_inversion"
            android:icon="@drawable/ic_trigger_color_inversion"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>
</manifest>
